<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' type='text/css' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
  <header><div class="topic">Classify Fruit Images</div></header>
  <div class='center'><!--圖層置中-->
  Classify Fruit Images
    <div class="left">
    <!--水果列表-->
    <div class='title'>
      <p>
      <strong>Use images of</strong><br/>
      <em><strong>金桔</strong></em><br/>
       <em><strong>檸檬</strong></em><br/> 
      <em><strong>葡萄柚</strong></em><br/>
       <em><strong>柑</strong></em><br/>
       <em><strong>柳丁</strong></em>
      </p>
     </div>
     <!--水果列表-->
    <!--選圖按鈕-->
  <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
    <!--選圖按鈕-->
    </div>
    <div class="right">
     <div class='content'>
      <!--圖片顯示-->
        <div class='no-display'>
          <input id='file-input'
                 class='no-display'
                 type='file'
                 name='file'
                 accept='image/*'
                 onchange='showPicked(this)'>
        </div>
        <div class='upload-label'>
          <label id='upload-label'>No file chosen</label>
        </div>
      <!--圖片顯示-->
        <div>
          <img id='image-picked'  class='no-display' alt='Chosen Image' height='200'>
        </div>
      <!--分析按鈕-->
        <div class='analyze'>
          <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
        </div>
       <!--分析按鈕-->
      <!--結果顯示-->
        <div class='result-label'>
          <label id='result-label'></label>
        </div>
       <!--結果顯示-->
      </div>
    </div>
  </div>
</body>
</html>
