<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' type='text/css' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
   <strong>Classify Fruit Images</strong>
    <div class='title'>
      <p>
      <strong>Use images of</strong><br/>
      <em><strong>金桔</strong></em><br/>
       <em><strong>檸檬</strong></em><br/> 
      <em><strong>葡萄柚</strong></em><br/>
       <em><strong>柑</strong></em><br/>
       <em><strong>柳丁</strong></em>
      </p>
     </div>
  <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
    <div class='content'>
        <div class='no-display'>
          <input id='file-input'
                 class='no-display'
                 type='file'
                 name='file'
                 accept='image/*'
                 onchange='showPicked(this)'>
        </div>
        <div class='upload-label'>
          <label id='upload-label'>No file chosen</label>
        </div>
        <div>
          <img id='image-picked'  class='no-display' alt='Chosen Image' height='200'>
        </div>
        <div class='analyze'>
          <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
        </div>
        <div class='result-label'>
          <label id='result-label'></label>
        </div>
    </div>
  </div>
</div>
</body>
</html>
