body {
    background-color: #ffffff;
}

.no-display {
    display: none;
}
.topic{
   
    width: 200px;
    text-align:center;
    color:	#00808C;
    font-size:30px;
    backgroud-color:#FFFF99;
}
.center {
    text-align:center;
    background-color:#B0C4DE;
    margin: auto;
    padding: 10px 50px;
}

.title {
    height:200px;
    font-size: 20px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #FFBF00;
}
.left{
    text-align:center;
     margin-left:350px;
    float:left;
    font-size:20px;
     height:1200px;
}

 .right{
      margin-right:350px;
    font-size:20px;
    text-align:center;
    float:right;
      height:1200px;
}
.analyze {
    margin-top: 5em;
}

.upload-label {
     margin-top: 1em;
    padding: 10px;
    font-size: 15px;
    color:#D10000;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}

button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color:#FFD700;
    border: solid 1px;
    font-size: 13px;
    color: #FFFFFF;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border:  1px;
    border-radius: 2px;
    background-color: #FFC78E;
    font-size: 13px;
    color: #ffffff;
}

button:focus {
    outline: 0;
}
