body {
    background-color: #ffffff;
}

.no-display {
    display: none;
}
.topic{
    text-align:center;
    backgroud-color:#F4A460
}
        
    
.left{
    text-align:center;
    float:left;
    font-size:20px;
}

 .right{
     font-size:20px;
    text-align:center;
    float:right;
}
.center {
    background-color:#B0C4DE;
    margin: auto;
    padding: 10px 50px;
}

.title {
    font-size: 20px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #FFBF00;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 15px;
    color:#D10000;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}

button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: 	#FFFF99 ;
    border: solid 1px;
    font-size: 13px;
    color: #FFFFFF;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border:  1px;
    border-radius: 2px;
    background-color: #FFC78E;
    font-size: 13px;
    color: #ffffff;
}

button:focus {
    outline: 0;
}
