body {
    background-color: #ffffff;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 30px;
}

.title {
    font-size: 20px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 15px;
    color:#D10000;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}

button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #FFFF45 ;
    border: solid 1px #FFFF6F;
    font-size: 13px;
    color: #FFFFFF;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: dashed 1px 	#FFBB77;
    border-radius: 2px;
    background-color: #FFC78E;
    font-size: 13px;
    color: #ffffff;
}

button:focus {
    outline: 0;
}
